body{
    font-family: 'Roboto', sans-serif;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header>h1{
    font-size: 45px;
    display: inline;
}

header>h6{
    font-size: 20px;
    display: inline;
}

.grid-container{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px;
}

.grid-50{
    margin-right: auto;
    margin-left: auto;
    border: solid 1px;
    padding-bottom: 10px;
}

.grid-100{
    margin-right: auto;
    margin-left: auto;
    border: solid 1px;
}

#logo, #logo2, #logo3, #logo4{
    width: 445px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

}

footer>p{
    text-align: center;
}

#logo5{
    width: 900px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}