*{
    font-family: 'Roboto', sans-serif;
}
body{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header>h1{
    font-size: 45px;
    display: inline;
    margin-left: 30px;
}

header>h6{
    font-size: 20px;
    display: inline;
    margin-left: 30px;
}

.grid-container{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.grid-50{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.grid-100{
    margin-right: auto;
    margin-left: auto;
}

#logo, #logo2, #logo3, #logo4{
    width: 445px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

footer>p{
    text-align: center;
}

#logo5{
    width: 913px;
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.form_add{

    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

#title, #link, #summary, #category, #submittor, #title2, #summary2, #submittor2{
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#blank, #blank2, #blank3{
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: orange;
}

#listcon3,#listcon5,#listcon7,#listcon9{

    border: solid 1px;
    background-color: lemonchiffon;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
/*
.grid-75{

    border: 1px;

}*/